.about-section{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('');
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100vh;
  background-position: center;
  /* background-attachment: fixed; */
}
.about-text{
  background-color: rgba(227, 255, 249, 0.2);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .about-section{
      height: 100%;
  }
}